.top {
  margin-top: 2em;
}
.details {
  margin-top: 2em;
}

.tasklist {
  padding-top: 2em;
}

.task.done {
  background: lightgreen;
}

.task.done label {
  text-decoration: line-through;
}

.task.todo {
  background: lightgoldenrodyellow
}

.description {
  color: slategray;
  font-style: italic;
}

#editor .segment {
  background: lavender !important;
}